<%- include('partials/header.ejs') %>

<div class="container d-flex flex-column justify-content-center align-items-center project">
    <h2 class="mb-4">Edit Post</h2>
    <form class="w-75 mb-4" action="/edit/<%= post.id %>" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Edit Title:</label>
        <input type="text" id="title" name="title" class="form-control" value="<%= post.title %>" required />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Edit Content:</label>
        <textarea id="content" name="content" class="form-control" rows="10" required><%= post.content %></textarea>
      </div>
  
      <div class="text-center">
        <button class="btn btn-primary rounded-pill px-4 py-2" type="submit">
          Update Post
        </button>
      </div>
    </form>
  </div>
  

<%- include('partials/footer.ejs') %>
