<%- include('partials/header.ejs') %>

<div class="container my-4 vh-100 project">
  <div class="text-center mb-4 pt-4">
    <form action="/new" method="get">
      <button class="btn btn-primary rounded-pill px-4 " type="submit">
        Create New Post
      </button>
    </form>
  </div>

  <div class="row justify-content-center">
    <% posts.forEach(post => { %>
    <div class="col-md-8 mb-4">
      <div class="card">
        <div class="card-body post-card">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text text-truncate">
            <%= post.content.substring(0, 200) %><% if (post.content.length > 200) { %>...<% } %>
          </p>
          <% if (post.content.length > 200) { %>
          <div class="collapse" id="content-<%= post.id %>">
            <p class="card-text"><%= post.content %></p>
          </div>
          <button class="btn btn-link toggle-content" data-bs-toggle="collapse" data-bs-target="#content-<%= post.id %>">Read more</button>
          <% } %>
          <div class="button-group">
            <form action="/edit/<%= post.id %>" method="get" style="display: inline;">
              <button class="btn btn-secondary rounded-pill px-3" type="submit">
                Edit
              </button>
            </form>
            <form action="/delete/<%= post.id %>" method="POST" style="display: inline;">
              <button class="btn btn-danger rounded-pill px-3" type="submit">
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer.ejs') %>